<%- include('partials/header')%>
            <div id="intro" class="col-7">
                <h1>Welcome! <br>
                    I'm Jadesse Chan

                    <%= name %>

                    <span id="period">.</span>
                </h1>
                <p>I'm a Comuputer Science major with a plan to minor in English at Rhodes College.
                    I am passionate about the intersection between fashion and technology and aspire
                    to use my knowledge of CS to lead the fashion industry toward a sustainable future.
                    In my free time, I enjoy learning web development and UI design in the hopes
                    of creating my own website and mobile app centered around sustainable fashion.
                    I thrive in small collaborative environments and love to build meaningful relationships
                    with my mentors and peers. Creativity, attentiveness, and dedication are some of my
                    strongest skills and I am always seeking to learn more about the different fields of computer science.
                </p>
            </div>
        </div>
