<%- include('partials/header') %>

<div class="container-fluid full-height main">
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between align-items-center p-4">
        <div class="p-4 placeholder-main"></div>
        <div class="p-4 bd-highlight">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Taste Tea</h1>
                    <p class="lead">A modern tea journal for the classic tea connoisseur</p>
                </div>
            </div>
        </div>
        <div class="p-4 bd-highlight">
            <img class="spoons"
                 src="https://images.unsplash.com/photo-1563822249548-9a72b6353cd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80">
        </div>
    </div>
</div>

<div class="container-fluid full-height">
    <h1>Hi</h1>
</div>

<%- include('partials/footer') %>
